
services:
  db:
    image: postgres:16
    container_name: backend-training-db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    build: .
    container_name: backend-tarining-app
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "3000:3000"
    

volumes:
  db-data: